$colorBackground: #ffffff;
$colorBackgroundDark: #2d3642;
$colorBackgroundLight: #e3e3e3;
$colorAccent: #bb354c;

$colorText: #333333;
$colorTextLighter: #4e4e4e;
$colorTextLight: #ffffff;
$colorTextAccent: #bb354c; //d51d3c

$colorQuoteBackground: #eeeeee;
$colorQuoteForeground: #4e4e4e;

$colorLink: #4a79df;
