@import '_variables';

body {
  color: $colorText;
  font-family: Merriweather, serif;

  // TODO Remove when browser vendors properly support 100vw with scrollbars
  overflow-x: hidden;
}

#react-mount {
  .container {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 640px;
  }
}

.link {
  &--external {
    display: inline-block;

    // Fix for consistent word-wrapping
    padding-right: 16px;

    &:after {
      // Fix for consistent word-wrapping
      width: 16px;
      margin-right: -16px;

      display: inline-block;
      position: relative;
      bottom: 2px;
      left: 2px;
      text-decoration: none;
      content: "🗗";
    }
  }
}

p {
  line-height: 1.8em;
}

h2 {
  line-height: 1.4em;
  margin-top: 5px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }
}

a {
  color: $colorLink;

  &:hover {

  }

  &:visited {

  }
}
