@import '_variables';

body {
  font-family: Merriweather, serif;
}

h2 {
  margin-top: 10px;

  a {
    text-decoration: none;
  }
}

a {
  color: $colorLink;

  &:hover {

  }

  &:visited {

  }
}
