@import '_variables';

.header {
  color: $colorTextLight;

  &__backdrop {
    height: 350px;
    background: $colorBackgroundDark;
    width: 100vw;
    margin-bottom: -350px;
    margin-left: calc(-50vw + 50%);
    text-align: center;
  }

  &__headline {
    margin: 0;
    padding: 40px 0 10px;
    text-align: center;

    @include mobile {
      font-size: 1.4em;
    }
  }

  &__me {
    float: left;
    padding-right: 15px;
    margin-left: -5px;
    width: 120px;
  }

  &__links {
    font-size: 1.4em;
    float: right;
    padding-bottom: 12px;
    .link {
      padding-left: 20px;

      &__github, &__feed {
        color: $colorTextLight;
      }

      &__donate {
        color: $colorDonate;
      }
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
