@import '_variables';

.postpreview {
  margin-bottom: 60px;

  h2 {
    a {
      color: $colorText;
    }
  }

  p {
    margin: 0 0 10px 0;
  }

  &__hero {
    margin-bottom: 10px;
    max-height:250px;
    overflow: hidden;

    img {
      max-width:100%;
    }
  }

  time {
    color: $colorTextLighter;
    font-family: 'Roboto Mono', monospace;
    margin-right: 15px;
  }

  &__category {
    color: $colorTextAccent;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
  }

  &__content {
    a {
      margin-left: 5px;
    }
  }
}
