@import '_variables';

.postpreview {
  background: $colorBackground;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.16);

  @include mobile {
    padding: 0px;
    box-shadow: none;
  }

  h2 {
    padding-top: 10px;
    a {
      color: $colorText;
    }
  }

  p {
    margin: 0 0 10px 0;
  }

  &__pinned {
    color: $colorTextAccent;
    float: right;
    margin-top: 2px;
    font-size: 1.2em;
  }

  &__hero {
    margin-bottom: 20px;
    max-height:250px;
    overflow: hidden;

    img {
      max-width:100%;
    }

    @include mobile {
      max-height: 150px;
    }
  }

  time {
    color: $colorTextLighter;
    font-family: 'Roboto Mono', monospace;
    margin-right: 15px;
  }

  &__category {
    color: $colorTextAccent;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
  }

  &__content {
    a {
      margin-left: 5px;
      white-space: nowrap;
    }
  }
}
