@import '_variables';

.post {
	img {
		max-width: 100%;
	}

	hr {
		border: none;
		height: 1px;
		background-color: $colorBackgroundLight;
	}

	ol {
		li {
			line-height: 1.8em;
			margin-bottom: 10px;
		}
	}

	blockquote {
		background: $colorBackgroundLight;
		margin: 30px 0;

		p {
			margin: 0;
			padding: 20px 30px;
			color: $colorTextAccent;
			font-size: 1.2em;
			font-family: 'Roboto Mono', monospace;

			&::before, &::after {
				content: '"';
			}
		}
	}

	&__content {
		margin-bottom: 40px;
	}

	&__date {
		display: inline-block;
		margin-bottom: 10px;
		color: $colorTextLighter;
	}

	.navHome {
		position: fixed;
		left: 40px;
		text-align: center;
		padding: 8px 16px;
		color: $colorTextLight;
		background: $colorAccent;
		font-family: 'Roboto Mono', monospace;
	  text-decoration: none;
	}

	.navHome:hover {
		background: darken($colorAccent, 5%);
	}

	@media (max-width:1100px) {
		.navHome {
			position: static;
			margin: 0 auto 40px;
			text-align: center;
			display: block;
		}
	}

	.notice {
		margin: 20px 0;
    padding: 10px 10px 10px 20px;
		font-family: 'Roboto Mono', monospace;

		&--info {
			background:  lighten($colorInfo, 20%);
			border-left: 10px solid $colorInfo;
			color: darken($colorInfo, 30%);
		}

		&--danger {
			background:  lighten($colorDanger, 35%);
			border-left: 10px solid $colorDanger;
			color: darken($colorDanger, 15%);
		}
	}
}
