$colorBackground: #ffffff;
$colorBackgroundDark: #2d3642;
$colorBackgroundLighter: #e3e3e3;

$colorText: #333333;
$colorTextLighter: #4e4e4e;
$colorTextLight: #ffffff;

$colorLink: #4a79df;

$colorDonate: #e3b93c;

$colorAccent: #bb354c;

$colorInfo: #61bde2;
$colorDanger: #bb354c;

$phoneWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1100px;

@mixin phone {
  @media (max-width: #{$phoneWidth}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phoneWidth + 1px}) and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}
