@import '_variables';

.header {
  color: $colorTextLight;

  @include phone {
    color: $colorText;
  }

  &__backdrop {
    background: $colorBackgroundDark;
    height: 350px;
    margin-bottom: -350px;
    margin-left: calc(-50vw + 50%);
    text-align: center;
    width: 100vw;

    @include phone {
      background: $colorBackground;
    }
  }

  &__headline {
    margin: 0;
    padding: 20px 0 10px;
    text-align: center;

    @include phone {
      font-size: 1.4em;
    }
  }

  &__me {
    float: left;
    margin-left: -5px;
    padding-right: 15px;
    width: 120px;
  }

  &__links {
    float: right;
    font-size: 1.4em;
    padding-bottom: 12px;

    .link {
      padding-left: 20px;
      outline: 0;
      text-decoration: none;

      &__github, &__feed {
        color: $colorTextLight;

        @include phone {
          color: $colorText;
        }
      }

      &__donate {
        color: $colorDonate;
      }
    }
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
