@import '_variables';

.suggestions {
  background: $colorBackgroundDark;
  color: $colorTextLight;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;

  a {
    color: $colorTextLight;
    text-decoration: none;
  }

  h3 {
    line-height: 1.4em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h6 {
    color: $colorAccent;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }
}
